@model SurveyQuestionsConfigurator.Entities.SliderQuestion

@{
    ViewBag.Title = SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Details;
}
<hr />
<h2>@SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Details</h2>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartValueCaption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartValueCaption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndValueCaption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndValueCaption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Edit, "Edit", new { id = Model.ID, type = Model.Type }, htmlAttributes: new { @class = "btn btn-success btn-sm" }) |
    @Html.Partial("_BackToListPartial")
</p>
