@{
    ViewBag.Title = $"You are offline";

}

<h2>@SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.TechnicalIssuesError</h2>

@*<table class="table table-hover" id="myTable">
    <thead>

        <tr>
            <th onclick="w3.sortHTML('#myTable', '.toBeRemoved', 'td:nth-child(1)')" style="cursor:pointer">
                @SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Order &#8597;
            </th>
            <th onclick="w3.sortHTML('#myTable', '.toBeRemoved', 'td:nth-child(2)')" style="cursor:pointer">
                @SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Type &#8597;
            </th>
            <th>
                @SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Text
            </th>
            <th></th>
        </tr>
    </thead>
</table>*@



<a href="@Url.Action("Index", "Questions")" class="btn btn-danger btn-lg">
    @SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Refresh
</a>