@model IEnumerable<SurveyQuestionsConfigurator.Entities.Question>
@{
    ViewBag.Title = "Home Page";
    int i = 1;
}

<div class="jumbotron">
    <h1>Survey Questions Configurator</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order</th>
            <th scope="col">Type</th>
            <th scope="col">Text</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <th scope="row">@(i++)</th>
                <td>@item.Order</td>
                <td>@item.Type</td>
                <td> <textarea class="form-control" rows="3" style="min-width: 80%;resize:vertical" readonly>@item.Text</textarea></td>
                <td><a href="/edit/@item.ID" class="btn btn-success">Edit &raquo;</a></td>
                <!--<td>-->@*<a href="Home/Delete/@item.ID" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete &raquo;</a>*@<!--</td>-->
                <!--<td>-->@*@Html.ActionLink("Delete", "Delete", "HomeController", null, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure?')" })*@<!--</td>-->
            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-default" />
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                }
            </td>

            </tr>

        }
        @*<tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td> <textarea class="form-control" rows="3" style="min-width: 80%;resize:vertical" readonly>@@mdo</textarea></td>
            <td><a href="#" class="btn btn-success">Edit &raquo;</a></td>
            <td><a href="#" class="btn btn-danger">Delete &raquo;</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><textarea class="form-control" rows="3" style="min-width: 80%;resize:vertical" readonly>@@fat</textarea></td>
            <td><a href="#" class="btn btn-success">Edit &raquo;</a></td>
            <td><a href="#" class="btn btn-danger">Delete &raquo;</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td><textarea class="form-control" rows="3" style="min-width: 80%;resize:vertical" readonly>@@twitter</textarea></td>
            <td><a href="#" class="btn btn-success">Edit &raquo;</a></td>
            <td><a href="#" class="btn btn-danger">Delete &raquo;</a></td>
        </tr>*@
    </tbody>
    </table>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@