@model SurveyQuestionsConfigurator.Entities.Question

@{
    ViewBag.Title = SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Create;
}

<hr />
<h2>@SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Partial("_CreateQuestion", @Model)
    <div id="partialView">
        @*
            if not loaded at first like this, client-side validation will not work
            content then changes using jquery ajax requests
        *@
        @Html.Partial("_CreateSmileyQuestion", @Model)
        @Html.Partial("_CreateSliderQuestion", @Model)
        @Html.Partial("_CreateStarQuestion", @Model)
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="@SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Create" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        @Html.Partial("_BackToListPartial")
    </div>

</div>
}



<script type="text/javascript">

    $(document).ready(function() {
        $("#partialView").load('@Url.Action("PartialSmiley")');

        //Sys.Mvc.FormContext._Application_Load();

        @*$.ajax({
            url: "@Url.Action("PartialSmiley")",
            dataType: "html",
            success: function (result) {
                $('#partialView').html(result);
                Sys.Mvc.FormContext._Application_Load();
            }
        });*@
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

