@model SurveyQuestionsConfigurator.Entities.SmileyQuestion

@{
    ViewBag.Title = SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Details;
}
<hr />
<h2>@SurveyQuestionsConfigurator.Entities.Resources.LanguageStrings.Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSmileyFaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSmileyFaces)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, type = Model.Type }) |
    @Html.Partial("_BackToListPartial")
</p>
